.main-container {
	--main-width: 1150px;

	width: 100%;
	min-width: 304px;

	@include for-small-screen-up {
		width: var(--main-width);
		margin: auto;
	}

	@include for-large-screen-up {
		--main-width: 1600px;
	}
}

.section-container {
	--section-padding: 50px 0;

	padding: var(--section-padding);

	@include for-small-screen-up { --section-padding: 75px 0; }
}

.anchor {
	position: relative;
	top: calc(0px - var(--nav-height-mini));

	@include for-small-screen-up {
		top: calc(0px - var(--nav-height-large));
	}
}