.section-header {
	--title-size: 2.5rem;
	--title-margin-bottom: 50px;

	margin-bottom: var(--title-margin-bottom);
	text-align: center;

	.title {
		font-size: var(--title-size);
		text-transform: uppercase;

		@include for-tablet-up {
			--title-size: 3rem;
		}
	}

	.separator {
		--separator-margin: 20px 0;
		--line-width: 150px;
		--line-border: 1px solid var(--grey-2);
		--circle-top: -12.5px;
		--circle-left: 62.5px;
		--circle-ratio: 25px;
		--circle-border: 5px solid white;

		display: flex;
		justify-content: center;
		margin: var(--separator-margin);

		.separator-line {
			position: relative;
			min-width: var(--line-width);
			border-top: var(--line-border);
		}

		.separator-circle {
			position: absolute;
			top: var(--circle-top);
			left: var(--circle-left);
			width: var(--circle-ratio);
			height: var(--circle-ratio);
			margin: 0;
			color: white;
			text-align: center;
			opacity: 1;
			background: var(--blue-2);
			border: var(--circle-border);
			border-radius: 50%;
		}
	}

	.description {
		margin: auto;
		padding: 0 20px;

		@include for-tablet-up {
			width: 650px;
			padding: 0;
		}
	}
}