#portfolio {
	background-color: $special;

	#portfolio-container {

		input {
			display: none;
		}

		@each $input in $portfolio-selectors {
			#selector-#{$input}:checked {
				& ~ #portfolio-selectors   {
					#selectors {
						.selector[for=selector-#{$input}] {
							color: $white;
							background-color: $light-blue !important;

							i {
								opacity: 1;
							}
						}
					}					
				}

				& ~ #portfolio-content {
					#portfolio-articles {
						@if $input == "works" {
							.project {
								display: block;
							}
						} @elseif $input == "creative" {
							.project#project-1,
							.project#project-2,
							.project#project-3 {
								display: block;
							}
						} @elseif $input == "corporate" {
							.project#project-4,
							.project#project-5,
							.project#project-6{
								display: block;
							}
						} @elseif $input == "portfolio" {
							.project#project-7,
							.project#project-8 {
								display: block;
							}
						}
					}
				}
			}
		}

		#portfolio-selectors {
			margin: 50px 0;
			text-align: center;

			#selectors {
				display: flex;
				justify-content: center;

				label {
					position: relative;
					padding: 10px 5px;
					color: $black;
					text-align: center;
					font-weight: $font-light;					
					background-color: $light-gray;
					transition: all $transition-time;
					cursor: pointer;

					@include for-tablet-up {
						padding: 10px;
					}

					&:first-of-type {
						border-radius: $portfolio-sl-radius;
					}

					&:last-of-type {
						border-radius: $portfolio-sr-radius;
					}

					&:hover {
						background-color: $light-blue;
					}

					i {
						position: absolute;
						bottom: -19px;
						left: 38%;						
						color: $blue;
						font-size: $font-size-label;
						opacity: 0;
						transition: opacity $transition-time;
					}
				}

				label:hover {
					color: $white;
					background-color: $light-blue;

					i {
						opacity: 1;
					}
				}
			}
		}

		#portfolio-content {
		
			#portfolio-articles {
				display: grid;
				grid-template:
					"." 1fr
					/ 1fr;
				grid-gap: $portfolio-grid-gap;
				align-items: stretch;
				justify-items: center;
				justify-content: space-evenly;

				@include for-tablet-up {
					margin: 0 30px;			
					grid-template:
						". ."
						/ $portfolio-bg-width $portfolio-bg-width;
				}

				@include for-large-screen-up {
					grid-template:	
						". . . ."
						/ $portfolio-bg-width $portfolio-bg-width $portfolio-bg-width $portfolio-bg-width
				}

				.project {
					display: none;
					position: relative;
					width: $portfolio-bg-width;
					height: $portfolio-bg-height;
					background-size: 100% 100% !important;

					@each $bg-i in $portfolio-bgs {
						&#project-#{$bg-i} {
							@if ($bg-i < 10) {
								background: url("../images/portfolio/0#{$bg-i}.jpg") no-repeat;
							}					
						}
					}

					& > div {
						position: absolute;					
						width: 100%;
						height: 0;
						bottom: 0;
						padding: 0 10px;
						color: $white;
						opacity: 0;
						background-color: $light-transparent-black;
						transition: all $transition-time;


						span {						
							position: absolute;
							text-align: center;
							width: 39px;
							height: 39px; 
							top: -19px;
							right: 7.5%;
							border: 2px solid $white;
							border-radius: 50%;
							opacity: 0;
							background: $light-blue;						

							i {
								padding-top: 9.5px;
							}
						}

						h4 {
							margin-bottom: 10px;
							font-size: 18px;
						}

						p {
							font-size: .95em;
						}
					}

					&:hover > div {
						opacity: 1;
						height: 78px;
						padding: 15px 10px;

						span {
							animation: portfolio-eye 4s .125s ease-out infinite;
						}
					}
				}
			}
		}
	}
}