:root {
	// * Colors
	//========================
	--grey-1: #f2f2f2;
	--grey-2: #cccccc;
	--grey-3: #999999;
	--blue-1: #75b2e1;
	--blue-2: #468cc3;
	--blue-3: #4c7492;
	--blue-4: #343148;
	--yellow: #ffd662;
	--beige: #ffeff0;
	--red: #9e1030;

	// * Fonts
	//========================
	--font-family: "Roboto", "Arial", sans-serif;
	--font-light: 400;
	--font-normal: 700;
	--font-bold: 900;

	// * Animations
	//========================
	--transition-time: .5s;
}

*,
::after,
::before {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	scroll-behavior: smooth;
}

body {
	min-width: $body-min-width;
	margin: 0;
	font-family: var(--font-family);
	background-color: var(--grey-2);
}

main {
	position: relative;
	top: 0;
	padding-top: 75px;

	@include for-small-screen-up {
		padding-top: 100px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.container {
	width: 100%;
	min-width: 304px;

	@include for-small-screen-up {
		width: $container-small-screen-up;
		margin: auto;
	}

	@include for-large-screen-up {
		width: $container-large-screen-up;
	}
}

.section-container {
	padding: $section-container-padding;
}

.anchor {
	position: relative;
	top: -75px;

	@include for-small-screen-up {
		top: -100px;
	}
}