:root {
	// * Colors
	//========================
	--grey-1: #f2f2f2;
	--grey-2: #cccccc;
	--grey-3: #999999;
	--blue-1: #75b2e1;
	--blue-2: #468cc3;
	--blue-3: #4c7492;
	--blue-4: #343148;
	--yellow: #ffd662;
	--beige: #ffeff0;
	--red: #9e1030;

	// * Fonts
	//========================
	--font-family: "Roboto", "Arial", sans-serif;
	--font-light: 400;
	--font-normal: 700;
	--font-bold: 900;

	// * Animations
	//========================
	--transition-time: .5s;

	// * Navbar
	//========================
	--nav-height-mini: 75px;
	--nav-height-large: 100px;
}

*,
::after,
::before {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html { scroll-behavior: smooth; }

body {
	--body-min-width: 310px;

	min-width: var(--body-min-width);
	margin: 0;
	font-family: var(--font-family);
	background-color: var(--grey-2);
}

main {
	position: relative;
	top: 0;
	padding-top: var(--nav-height-mini);

	@include for-small-screen-up {
		padding-top: var(--nav-height-large);
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {	margin: 0; }