// 2. Sizes / Margin & Padding
// ==========================================================================

$large-screen-up: 1700px;
$small-screen-up: 1200px;
$tablet-up: 769px;

// 4. Fonts
// ==========================================================================

$font-size-label: 2em;