// ==========================================================================
// WebAgency variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Colors
//  2. Sizes / Margin & Padding
//	3. Transition & Animations
//  4. Fonts
//  5. Buttons
//	6. Forms
//  7. Nav
//  8. Home
//  9. Services
//  10. Portfolio
//  11. Contact


// 2. Sizes / Margin & Padding
// ==========================================================================

$body-min-width: 320px;

$container-max-width: 1600px;

$container-large-screen-up: 1600px;
$container-small-screen-up: 1150px;
$container-tablet-up: 768px;
$container-phone: 767px;

$large-screen-up: 1700px;
$small-screen-up: 1200px;
$tablet-up: 769px;
$phone: 767px;

$section-container-padding: 75px 0;

// 4. Fonts
// ==========================================================================

$font-size-contact: 1em;
$font-size-button: 1.25em;
$font-size-label: 2em;
$font-size-xl: 3em;

// 5. Forms
// ==========================================================================

$forms-padding: 10px;
$button-padding: 10px 0;
$button-border-radius: 5px;

// 6. Titles
// ==========================================================================

$titles-line: 1px solid var(--grey-2);
$titles-line-width: 150px;
$titles-line-margin: 20px 0;
$titles-circle-x: 62.5px;
$titles-circle-y: -12.5px;
$titles-circle-dimensions: 25px;
$titles-circle-border: 5px solid white;

// 7. Nav
// ==========================================================================

// 8. Home
// ==========================================================================

$home-min-height: 550px;
$home-bgs: (
    '1': url("../images/slider/bg1.jpg"),
    '2': url("../images/slider/bg2.jpg")
);

// 9. Services
// ==========================================================================

// 10. Portfolio
// ==========================================================================

$portfolio-selectors: ("works", "creative", "corporate", "portfolio");
$portfolio-sl-radius: 5px 0 0 5px;
$portfolio-sr-radius: 0 5px 5px 0;

$portfolio-grid-gap: 15px;

$portfolio-bg-width: 300px;
$portfolio-bg-height: 200px;

$portfolio-bgs: (1,	2, 3, 4, 5, 6, 7, 8);

// 11. Contact
// ==========================================================================

$contact-bg: url("../images/contact/map.jpg");
$contact-margin: 10px;