.contact {
	--contact-bg: url("../images/contact/map.jpg");

	position: relative;
	background-image: var(--contact-bg);
	background-repeat: no-repeat;
	background-position: center;

	.contact-container {
		display: flex;
		justify-content: center;
		align-content: center;
		height: 100%;
		background-color: rgba(0, 0, 0, .25);

		@include for-tablet-up {
			padding: 50px 150px;
		}

		@include for-small-screen-up {
			justify-content: flex-end;
		}

		.contact-info {
			--margin-bottom: 10px;

			width: 100%;
			padding: 20px;
			text-align: center;
			background-color: rgba(255, 255, 255, .75);

			@include for-small-screen-up {
				width: 50%;
				text-align: left;
			}

			@include for-small-screen-up {
				width: 40%;
			}

			.contact-address {
				--address-font-size: 1.75rem;

				.address-title {
					margin-top: 0;
					font-size: var(--address-font-size);
				}

				.address-infos {
					color: rgba(0, 0, 0, .75);
					font-weight: var(--font-normal);
					font-style: normal;
				}
			}

			.address-title,
			.address-infos,
			.contact-form form>*:not(button) {
				margin-bottom: var(--margin-bottom);
			}

			.contact-form {
				.form-submit {
					width: 100%;

					@include for-small-screen-up {
						width: inherit;
					}
				}
			}
		}
	}
}