.home {
	--min-height-1: 550px;
	--min-height-2: 400px;
	--progress-bar-height: 5px;
	--img-1: url("../images/slider/bg1.jpg");
	--img-2: url("../images/slider/bg2.jpg");

	.slider {
		position: relative;
		height: var(--min-height-2);

		@include for-tablet-up { min-height: var(--min-height-1); }

		.slider-controls {
			display: none;

			&#slider-prev:checked~.slide { background-image: var(--img-1); }
			&#slider-next:checked {
				&~.slide { background-image: var(--img-2); }
				&~.slide-progress {	width: 100%; }
			}
		}

		.slider-labels {
			display: none;
			background-color: rgba(0, 0, 0, .75);
			cursor: pointer;

			@include for-tablet-up {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				bottom: 0;
				width: 50%;
				padding: 10px 0 15px 0;
				color: white;
				font-size: 2rem;
			}

			&[for=slider-prev],
			&[for=slider-next] {
				@include for-small-screen-up {
					top: 0;
					width: 100px;
					padding: 0;
					background-color: transparent;

					&:hover {	background-color: rgba(0, 0, 0, .25); }
				}
			}

			&[for=slider-prev] { left: 0; }
			&[for=slider-next] { right: 0; }
		}

		.slide {
			height: var(--min-height-2);
			background-repeat: no-repeat;
			background-position: left;
			transition: background-image var(--transition-time);

			@include for-tablet-up {
				min-height: var(--min-height-1);
				background-position: 75%;
			}

			.slide-text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-content: center;
				width: 100%;
				height: var(--min-height-2);
				color: white;
				text-align: center;
				font-weight: var(--font-bold);
				background-color: rgba(0, 0, 0, .25);

				@include for-tablet-up {
					height: calc(var(--min-height-1) - 57px);
				}

				@include for-small-screen-up {
					justify-content: center;
					width: 40%;
					height: var(--min-height-1);
					margin: 0 15%;
					padding-top: 0;
					text-align: left;
					background-color: transparent;
				}

				&>*:not(:last-child) { margin-bottom: 15px; }

				.slide-title {
					text-transform: uppercase;

					.slide-keyword {
						color: var(--blue-2);

						@include for-small-screen-up { color: var(--blue-1); }
					}
				}
			}
		}

		.slide-progress {
			display: none;
			position: absolute;
			width: 0%;
			bottom: 0;
			left: 0;
			height: var(--progress-bar-height);
			background-color: var(--blue-2);
			transition: width var(--transition-time);

			@include for-tablet-up { display: block; }
		}
	}
}