#home {
	min-height: $home-min-height;

	#slider {
		position: relative;
		height: 100%;

		input {
			display: none;

			&#slider-prev:checked ~ #slide {
				background-image: $home-bg-1;
			}

			&#slider-next:checked {

				& ~ #slide {
					background-image: $home-bg-2;
				}

				& ~ #progress {
					width: 100%;
				}				
			}
		}

		label {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;			
			bottom: 0;
			width: 50%;
			padding: 15px 0;
			color: white;
			font-size: $font-size-label;			
			background-color: rgba(0,0,0,.75);
			cursor: pointer;

			&[for=slider-prev],
			&[for=slider-next] {
				@include for-small-screen-up {
					top: 0;
					width: 10%;
					padding: 0;
					background-color: transparent;
					transition: all var(--transition-time);

					&:hover {
						background-color: rgba(0,0,0,.25);
					}
				}
			}

			&[for=slider-prev] {
				left: 0;
			}

			&[for=slider-next] {
				flex-direction: row-reverse;
				right: 0;
			}			
		}

		#slide {
			min-height: $home-min-height !important;
			background-repeat: no-repeat;
			background-position: 80%;
			transition: all var(--transition-time);

			@include for-tablet-up {
				background-position: 90%;
			}

			@include for-small-screen-up {
				background-position: right;
			}

			#slide-text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-content: center;				
				width: 100%;
				height: $home-min-height - 62px;
				padding-top: 62px;
				color: white;
				text-align: center;
				font-weight: var(--font-bold);
				background-color: rgba(0,0,0,.25);

				@include for-small-screen-up {
					justify-content: center;
					width: 40%;
					height: $home-min-height;
					margin: 0 15%;
					padding-top: 0;
					text-align: left;					
					background-color: transparent;
				}

				h1 {
					margin-bottom: 10px;				
					font-size: 2.5em;
					text-transform: uppercase;

					span {
						color: var(--blue-1);
					}
				}

				button {
					@extend %button;
					width: 250px;

					@include for-small-screen-up {
						width: 125px;
					}
				}
			}
		}

		#progress {
			position: absolute;
			width: 0%;
			bottom: 0;
			left: 0;
			height: 5px !important;
			background-color: var(--blue-2);
			transition: all var(--transition-time);
		}
	}
}