.nav {
	position: fixed;
	width: 100%;
	background-color: $white;
	box-shadow: $nav-shadow;
	z-index: 100;

	@include for-small-screen-up {
		position: fixed;
	}

	.nav-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 75px;

		@include for-small-screen-up {
			justify-content: space-around;
			height: $nav-height;
		}

		.nav-banner {
			.nav-home {
				width: 68px;
				text-align: center;

				.site-logo {
					&.mini {
						display: inherit;
						padding-left: 15px;
					}

					&.large {
						display: none;

						@include for-tablet-up {
							padding-left: 15px;
						}
						@include for-small-screen-up {
							padding-left: 0;
						}
					}

					@include for-tablet-up {
						&.mini {
							display: none;
						}

						&.large {
							display: inherit;
						}
					}
				}
			}
		}

		.nav-navbar {
			display: flex;
			align-items: center;
			position: relative;
			text-align: right;
			height: 100%;

			.nav-trigger-input {
				display: none;

				&~.nav-trigger-label {
					position: relative;
					height: 100%;
					padding: 0 36px;
					font-size: 1.125em;
					line-height: 75px;
					color: white;
					background-image: linear-gradient(to right, $light-blue, $dark-blue);

					.open,
					.close {
						position: relative;
						top: 1px;
						margin-left: 10px;
						font-size: 1.25em;
					}

					.open {
						display: inherit;
					}

					.close {
						display: none;
					}
				}

				&:checked~.nav-trigger-label {
					.open {
						display: none;
					}

					.close {
						display: inherit;
					}
				}

				&:checked~.nav-links {
					display: flex;
				}
			}

			.nav-trigger-label {
				@include for-small-screen-up {
					display: none;
				}
			}

			.nav-links {
				display: none;
				position: absolute;
				top: 75px;
				right: 0;
				flex-direction: column;
				border: 2px solid $dark-blue;
				border-top: none;
				text-align: center;
				background: white;

				@include for-small-screen-up {
					display: flex;
					position: relative;
					top: 0;
					flex-direction: row;
					border: none;
				}

				.link {
					display: inline-block;
					padding: 10px 40px;
					color: $black;
					text-decoration: none;
					transition: background-color $transition-time;

					&:hover {
						background-color: $light-gray;
					}

					@include for-small-screen-up {
						padding: 39px 25px 38px;
						font-size: 1.125em;
						border-top: $nav-link-border;

						&:hover {
							border-color: $light-blue;
							background-color: $special-gray;
						}
					}
				}
			}
		}
	}
}