.nav {
	--width-logo-mini: 68px;
	--logo-padding: 15px;

	position: fixed;
	width: 100%;
	background-color: white;
	box-shadow: 0 3px 5px rgba(0,0,0,.3);
	z-index: 100;

	@include for-small-screen-up {
		position: fixed;
	}

	.nav-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: var(--nav-height-mini);

		@include for-small-screen-up {
			justify-content: space-around;
			height: var(--nav-height-large);
		}

		.nav-banner {
			.nav-home {
				width: var(--width-logo-mini);
				text-align: center;

				.site-logo {
					&.mini {
						display: inherit;
						padding-left: var(--logo-padding);
					}

					&.large {
						display: none;

						@include for-tablet-up {
							padding-left: var(--logo-padding);
						}
						@include for-small-screen-up {
							padding-left: 0;
						}
					}

					@include for-tablet-up {
						&.mini {
							display: none;
						}

						&.large {
							display: inherit;
						}
					}
				}
			}
		}

		.nav-navbar {
			display: flex;
			align-items: center;
			position: relative;
			height: 100%;
			text-align: right;			

			.nav-trigger-input {
				display: none;

				&~.nav-trigger-label {
					position: relative;
					height: 100%;
					padding: 0 36px;
					font-size: 1.2em;
					line-height: 75px;
					color: white;
					background-image: linear-gradient(to right, var(--blue-2), var(--blue-3));

					.open,
					.close {
						position: relative;
						top: 3px;
						margin-left: 10px;
						font-size: 1.2em;
					}

					.open {
						display: inherit;
					}

					.close {
						display: none;
					}
				}

				&:checked~.nav-trigger-label {
					.open {
						display: none;
					}

					.close {
						display: inherit;
					}
				}

				&:checked~.nav-links {
					display: flex;
				}
			}

			.nav-trigger-label {
				@include for-tablet-up {
					display: none;
				}
			}

			.nav-links {
				display: none;
				flex-direction: column;
				position: absolute;
				top: var(--nav-height-mini);
				right: 0;
				text-align: center;
				border: 2px solid var(--blue-3);
				border-top: none;
				background-color: white;

				@include for-tablet-up {
					display: flex;
					flex-direction: row;
					position: relative;
					top: 0;
					margin-right: 15px;
					border: none;
				}
				@include for-small-screen-up {
					margin-right: 0;
				}

				.link {
					display: inline-block;
					padding: 10px 42px;
					color: black;
					text-decoration: none;
					transition: background-color var(--transition-time);

					&:hover {
						background-color: var(--grey-2);
					}

					@include for-tablet-up {
						padding: 27px 10px;

						&:hover {
							border-color: var(--blue-2);
							background-color: var(--grey-1);
						}
					}

					@include for-tablet-up {
						border-top: 3px solid transparent;
					}

					@include for-small-screen-up {
						padding: 39px 25px 38px;
						font-size: 1.125em;
					}
				}
			}
		}
	}
}