.services {
	background-color: white;

	.services-content {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		margin-top: 50px;
		padding: 0 50px;

		@include for-small-screen-up {
			flex-direction: row;
			justify-content: space-around;
			padding: 0 10px;
		}

		@include for-large-screen-up {
			padding: 0 75px;
		}

		.services-img {
			display: none;

			@include for-small-screen-up {
				display: inherit;
			}

			img {
				@include for-small-screen-up {
					width: auto;
					height: auto;
				}
			}
		}

		.services-articles {
			width: 100%;

			@include for-small-screen-up {
				width: 40%;
			}

			.article {
				position: relative;
				display: flex;
				align-items: center;

				&:not(:last-of-type) {
					margin-bottom: 40px;
				}

				.article-icon {
					display: none;
					position: relative;
					left: -25px;
					border: 1px solid var(--grey-3);
					border-radius: 50%;

					@include for-tablet-up {
						display: inherit;
					}

					.circle {
						position: absolute;
						top: 21px;
						right: -10px;
						width: 20px;
						height: 20px;
						margin: 0;
						color: white;
						text-align: center;
						opacity: 1;
						background: var(--blue-2);
						border: 5px solid white;
						border-radius: 50%;
					}

					.icon {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 62px;
						height: 62px;

						i {
							margin: auto;
							color: var(--blue-2);
							font-size: $font-size-label;
						}
					}
				}

				.article-option {
					padding: 10px;
					border: 2px solid var(--grey-2);
					border-radius: 5px;
					transition: border-color var(--transition-time);

					&:hover {
						border-color: var(--blue-2);
					}

					@include for-tablet-up {
						border: none;
					}

					.article-title {
						margin-bottom: 10px;
						padding-bottom: 10px;
						font-size: 1.5rem;
						border-bottom: 1px solid var(--grey-2);

						@include for-tablet-up {
							padding-bottom: 0;
							border-bottom: none;
						}

						i {
							margin-right: 10px;
							color: var(--blue-2);

							@include for-tablet-up {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}