.services {
	--content-padding: 0 50px;
	--article-margin: 40px;
	--icon-position: -25px;
	--icon-ratio: 65px;
	--icon-border: 1px solid var(--grey-3);
	--icon-mini-circle-ratio: 20px;
	--icon-mini-circle-border: 5px solid white;
	--article-unified-spacing: 10px;
	--article-shadow: 0 0 5px 3px rgba(0, 0, 0, .1);
	--article-background-gradient: linear-gradient(
		to right, var(--blue-2), var(--blue-3)
	);

	background-color: white;

	.services-content {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		padding: var(--content-padding);

		@include for-small-screen-up {
			flex-direction: row;
			justify-content: space-around;			
		}

		@include for-large-screen-up {
		}

		.services-img,
		.services-articles {
			@include for-small-screen-up {
				width: 40%;
			}
		}

		.services-img {
			display: none;

			@include for-small-screen-up {
				display: flex;
				justify-content: center;
				text-align: center;
			}

			img {
				@include for-small-screen-up {
					width: auto;
					height: auto;
				}
			}
		}

		.services-articles {
			.article {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;

				&:not(:last-of-type) {
					margin-bottom: var(--article-margin);
				}

				.article-icon {
					display: none;
					position: relative;
					left: var(--icon-position);
					border: var(--icon-border);
					border-radius: 50%;

					@include for-tablet-up {
						display: flex;
						justify-content: center;
						align-items: center;
						width: var(--icon-ratio);
						height: var(--icon-ratio);

						i {
							color: var(--blue-2);
							font-size: $font-size-label;
						}
					}

					.circle {
						position: absolute;
						top: var(--icon-mini-circle-ratio);
						right: -10px;
						width: var(--icon-mini-circle-ratio);
						height: var(--icon-mini-circle-ratio);
						border: var(--icon-mini-circle-border);
						border-radius: 50%;
						background: var(--blue-2);
					}
				}

				.article-option {
					border-radius: 5px;
					box-shadow: var(--article-shadow);

					&:hover {
						--article-shadow: 0 0 5px 3px rgba(0, 0, 0, .2);
					}

					@include for-tablet-up {
						width: 60%;
						border: none;
					}

					@include for-small-screen-up {
						width: 80%;
						box-shadow: none;

						&:hover {
							box-shadow: none;
						}
					}

					.article-title {
						padding: var(--article-unified-spacing);
						color: white;
						font-size: 1.5rem;
						font-weight: var(--font-light);
						border-radius: 5px 5px 0 0;
						background-image: var(--article-background-gradient);

						@include for-tablet-up {
							border-bottom: none;
						}

						@include for-small-screen-up {
							margin-bottom: var(--article-unified-spacing);
							padding: 0;
							color: black;
							font-weight: var(--font-normal);
							background-image: none;
						}

						i {
							margin-right: var(--article-unified-spacing);
							color: black;

							@include for-tablet-up {
								display: none;
							}
						}
					}

					.article-description {
						padding: var(--article-unified-spacing);
						text-align: justify;

						@include for-small-screen-up {
							padding: 0;
							text-align: left;
						}
					}
				}
			}
		}
	}
}